# data manipulation
pandas==3.0.2
numpy==2.3.5

# data visualization
scipy==1.17.1
matplotlib==3.10.8
seaborn==0.13.2
plotly==5.24.1

# Jupyter setup
jupyterlab==4.5.6
ipykernel==7.2.0

# image processing
nnunetv2==2.6.4 # for semantic segmentation
nibabel==5.4.2 # read and write access to common neuroimaging file formats
